[user]
	email = d.toro@outlook.com
	name = danieltoro
[alias]
  c = commit -m
  ch = checkout
  a = add
  p = pull
  d = push
  f = fetch
	s	= status
[url "https://github.com/"]
    insteadOf = gh:
[core]
	autocrlf = input
	excludesfile = /Users/danieltoro/.gitignore_global
[branch "master"]
	remote = origin
	merge = refs/heads/master
	mergeoptions = --no-ff
[pull]
	ff = true
[credential]
	helper = cache
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/danieltoro/.stCommitMsg
